<nav class="navbar">
    <ul>
        <li id="logo">
            <a href="#">
                <figure>
                    <img src="https://firebasestorage.googleapis.com/v0/b/danny-torres-com.appspot.com/o/pngkey.com-harry-potter-icons-png-3464359.png?alt=media&token=2d1d7175-367b-4850-8586-79a65f666c0d" alt="LogoSite">
                </figure>
          </a>
        </li>
    </ul>
    <ul>
        <li><a href="#">Posts</a></li>
        <div class="nes-field" id="search-input-container">
            <i class="nes-icon search"></i> 
            <input type="text" id="search-input" class="nes-input" placeholder="">
        </div>
    </ul>
</nav>
<!--

    <div id="nav-border" class="container">
        <nav id="nav" class="nav justify-content-center">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </nav>
    </div>
    
-->  
